@import './vendor/bootstrap/bootstrap.scss';
@import './custom/customvariables';
@import './custom/custom';
.container {
	max-width: 1200px;
}

body {
	font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h3.maler__title {
	color: $gray-800;
	font-family: inherit;
	@include fontSize(18px);
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: Rem(5px);

	span {
		@include fontSize(12px);
		font-weight: bold;
		display: block;
		text-transform: uppercase;
	}


	&.title--big {
		span {
			letter-spacing: 2px;

		}
		@include fontSize(26px);
		font-weight: normal;

		@include media-breakpoint-up(sm) {
			@include fontSize(36px);
		}
	}

	&.title-style {
		&::after {
			content: '' ;
			display: block;
			width: 56px;
			height: 2px;
			margin-top: Rem(10px);

			@include media-breakpoint-up(sm) {
				margin-top: Rem(20px);
			}
		}
	}

	@include media-breakpoint-up(sm) {
		margin-bottom: Em(10px);
	}

	&.text-center {
		&::after {
			margin: Rem(15px) auto 0 auto;
			@include media-breakpoint-up(sm) {
				margin: Rem(20px) auto 0 auto;

			}
		}
	}
}

.bg,
.bg-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


h3.maler__title {
	margin-bottom: Em(10px);

	@include media-breakpoint-up(sm) {
		margin-bottom: Em(15px);
	}
}

.maler-left {
	overflow: hidden;
	.maler__image {
		float: left;
		margin-right: Rem(10px);

		@include media-breakpoint-up(sm) {
			margin-right: Rem(20px);

		}
	}
	.maler__content {
		overflow: hidden;
	}
}

ul.maler__star,
ul.maler__list,
ul.menu__content {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}
}

ul.maler__list {
	a {
		display: block;
		@include fontSize(13px);
		padding: Rem(5px) 0;
		color: inherit;
		transition: .3s color;

		&:hover {
			color: $main-color;
			transition: .3s color;
			text-decoration: none;
		}
	}
}

ul.maler__star {
	padding: 0;
	margin-bottom: 0;

	li {
		list-style-type: none;
		display: inline-block;
	}

	a {
		color: lighten($main-color, 20%);
		@include fontSize(14px);
	}

	a.active {
		color: $main-color;
	}
}



span.maler__time {
	text-transform: capitalize !important;
	span {
		display: inline-block;
		text-transform: capitalize;

	}
}

a.maler__links {
	text-decoration: none;
	color: $main-color;
	text-transform: uppercase;
	@include fontSize(14px);
	font-weight: bold;
	transition: .3s color;

	&:hover {
		color: color-yiq($main-color);
		transition: .3s color;
	}
}

a.links-scroll {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #334457;
	display: flex;
  justify-content: center;
	align-items: center;
	border: 6px solid #263341;
	text-decoration: none;
	i {
		color: #848e99;
		border: 6px solid transparent;
	}
}

ul.maler__content {
	padding: 0;
	li {
		list-style-type: none;
	}
}

.bg-btm {
	position: absolute;
	height: 60px;
	left: 0;
	right: 0;
	bottom: 0;

	@include gradient-y(rgba($white,0.1),rgba($white,1),0%,100%);
}

.maler-card {
	background: $white;
	box-shadow: 0 2px 2px 0 #dbe1e7;
}

.maler-footer {
	line-height: 1.7;
	h4 {
		@include fontSize(14px);
		font-weight: bold;
		text-transform: uppercase;
		color: color-yiq($footer-bg);
		margin-bottom: Rem(15px);

	}

	.maler__list a {
		text-transform: capitalize;
	}
}

.isotope-grid {
	li {
		display: inline-block;
	}

	.maler {
		margin-bottom: Rem(30px);
	}

	.maler__list {
		@include fontSize(14px);
		text-transform: capitalize;
		margin-bottom: Rem(15px);

		a {
			font-size: inherit;
			display: block;
			margin-right: 20px;

			@include media-breakpoint-up(sm) {
				margin-right: 30px;
			}
		}

		a.active {
			color: $main-color;
		}




		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(30px);
		}
	}

	.maler__image {
	}

	img {
		max-width: 100%;
	}

}

.top-heading {
	@include fontSize(10px);
	border-bottom: 1px solid rgba($white, 0.1);
	display: none;

	ul.maler__list {
		display: inline-block;

		li {
			display: inline-block;
		}

		a {
			display: block;
			padding: Rem(15px) 0;
			text-transform: uppercase;
			font-weight: bold;
			color: rgba($white, 0.5);
			@include fontSize(10px);

			&:hover {
				color: $main-color;
			}
		}
	}

	ul.maler__list.float-right {
		a {
			margin-left: Rem(18px);
		}
	}

	@include media-breakpoint-up(sm) {
		display: block;
	}
}

.main-menu ul.maler__list {
	a {
		@include fontSize(12px);
		font-weight: bold;
		color: $white;
		line-height: 2;
		padding: Rem(8px) 0;
		margin: 0 Rem(16px);
	}
}

.maler-menu a.btn {
	opacity: .5;
}


.maler {
	margin-bottom: Em(30px);

	&__desc {
		@include fontSize(14px);
		line-height: 1.5;
		color: $gray-600;
	}

	&__image {
		img {
			max-width: 100%;
		}

		i {
			font-size: 4rem;
		}
	}

	&__number {
		@include fontSize(26px);

		@include media-breakpoint-up(sm) {
			@include fontSize(36px);
		}
	}

	.maler__title {
		margin-bottom: Rem(10px);
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 0;
	}
}

.maler--hero {
	.maler__desc {
		margin-bottom: Rem(20px);
	}
	@include media-breakpoint-up(md) {
		h3.maler__title {
			margin-bottom: Rem(17px);
		}

		.maler__desc {
			margin-bottom: Rem(20px);
		}
	}

	@include media-breakpoint-up(xl) {
		.maler__desc {
			margin-bottom: Rem(60px);
		}
	}
}

.maler--about {
	h3.maler__title {
		margin-top: Rem(10px);
		margin-bottom: Rem(10px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(20px);

		}
	}

	.maler__desc {
		margin-bottom : Rem(20px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(30px);
		}
	}

	.maler__image {

		@include media-breakpoint-up(lg) {
			text-align: right;
			margin-right: Rem(56px);

		}

		@include media-breakpoint-up(xl) {
			margin-right: Rem(96px);
		}
	}
}

.maler--feature,
.maler--testimonial {
	padding: Em(15px) Em(20px);

	@include media-breakpoint-up(md) {
		padding: Em(30px) Em(35px);
	}
}

.maler--feature {
	transition: .3s all;

	.maler__image {
		margin-bottom:  Em(20px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Em(30px);
		}
	}

	.maler__title {
		margin-bottom: Rem(5px);
	}



	&:hover {
		cursor: pointer;
		transition: .3s all;

		i {
			color: $main-color;
			transition: .3s color;
		}
	}
}

.maler--count {
	position: relative;
	padding: Em(20px) Em(10px);

	.maler__number {
		font-weight: normal;
		color: #64bb21;
		margin-bottom: Rem(5px);
	}

	.maler__desc {
		color: #5e7081
	}

	h3.maler__title {
		margin-bottom: Rem(5px);
	}


	.bg {
		background-image: linear-gradient(124deg, #98d745, #7db633);
		z-index: 0;
		opacity: 0;
		transition: .3s opacity;
	}

	h3, .maler__desc, .maler__number {
		position: relative;
		transition: .5s color;
		z-index: 1;
	}

	@include media-breakpoint-up(sm) {
		padding: Em(30px) Em(20px);
	}

	&:hover {
		cursor: pointer;
		.bg {
			opacity: 1;
			transition: .3s opacity;
		}

		h3, .maler__desc, .maler__number {
			color: white;
			transition: .5s color;
		}
	}
}
.maler--isotope {
  position: relative;
	overflow: hidden;
	z-index: 0;

  .maler__content {
    position: absolute;
    bottom:  0;
    left: 0;
    right:0;
    padding: 0 10px 10px 10px;
    transform: translateY(100%);
		transition: .3s transform;
		z-index: 2;


		@include media-breakpoint-up(lg) {
			padding: 0 20px 20px 20px;

		}
	}

	.bg {
		opacity: 0;
		z-index: 1;
		background-image: radial-gradient(circle at 0 0, #fa9348, #f76b1c);
		transition: .3s opacity;
	}

	h3,.maler__desc {
color: $white;
	}

	h3.maler__title {
		@include fontSize(14px);
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.maler__desc {
		@include fontSize(14px);
		font-weight: 300;
		line-height: 1.93;
	}

	img {
		width: 100%;

		@include media-breakpoint-up(xs) {
			// width: initial;
		}
	}

  &:hover {
    .maler__content {
      transform: translateY(0);
			transition: .3s transform;
			z-index: 2;
		}

		.bg {
			opacity: 1;
			transition: .3s opacity;
		}
  }
}

.maler--testimonial {
	position: relative;
	padding-top: 0;
	cursor: pointer;

	.maler__desc {
		&::before {
			content: '\f10e';
			display: block;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-size: 1.5rem;
			color: #dbe1e7;
			margin-bottom: Rem(5px);

			@include media-breakpoint-up(lg) {
				margin-bottom: Rem(10px);
			}
		}
	}

	h3.maler__title {
		@include fontSize(14px);
		display: flex;
		flex-direction: column;
		margin-bottom: Rem(4px);
		line-height: 1.93;

		span {
			font-size: inherit;
			font-weight: normal;
			text-transform: none;
			letter-spacing: normal;
			display: block;
			order: 1;
		}
	}

	img {
		border-radius: 50%;
		margin-top: Em(-15px);
	}

	.maler__image {
		margin-bottom: Em(15px);
	}

  .maler__star {
		margin-bottom: Rem(5px);

		@include media-breakpoint-up(lg) {
			margin-bottom: Rem(10px)
		}
	}
}

.navbar--custom {
	.nav-link {
		font-weight: bold;
		text-transform: capitalize;
		@include fontSize(12px);
	}
}


.maler--story {
	img {
		width: 100%;
	}

	.maler__content {
		padding: Em(15px);

		@include media-breakpoint-up(sm) {
			padding: Em(20px);
		}
	}

	.maler__title {
		margin-bottom: Rem(10px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(15px);
		}
	}

	span.maler__time {
		display: block;
		font-weight: normal;
		@include fontSize(12px);
		color: $gray-600;
		margin-top: Rem(5px);

		span {
			font-weight: bold;
		}
	}

	.maler__desc {
		margin-bottom: Rem(10px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(20px);
		}
	}
}

.maler--customer {
	position: relative;
	padding : Em(25px) Em(15px);

	.maler__image {
		margin-bottom: Em(40px);

		@include media-breakpoint-up(md) {
			margin-bottom: Em(60px);
		}
	}

	.maler__desc {
		color: inherit;
		margin-bottom: Rem(20px);

		@include media-breakpoint-up(md) {
			margin-bottom: Rem(30px);
		}
	}

	.bg {
		background-image: radial-gradient(circle at 0 0, #fa9348, #f76b1c);
		z-index: 0;
		opacity: 0;
		transition: .3s opacity;
	}

	.maler__image,
	.maler__desc,
	.maler__links {
		position: relative;
		z-index: 2;
		transition: .3s color;
	}


	.maler__links {
		text-transform: none;
		font-weight: normal;
	}

	@include media-breakpoint-up(sm) {
		padding : Em(30px) Em(20px);
	}

	&:hover {
		color: white;
		cursor: pointer;

		.maler__image,
		.maler__desc,
		.maler__links {
			color: inherit;
			transition: .3s color;

		}

		.bg {
			opacity: 1;
			transition: .3s opacity;
		}

		.maler__links:hover {
			color: color-yiq($main-color);
		}
	}
}

.maler--feature,
.maler--count {
	transition: .3s all;

	&:hover {
		transform: translateY(-10px);
		transition: .3s all;
		box-shadow: 0 4px 19px 0 #dbe1e7;
	}
}

.header {
	background-image: url('https://dummyimage.com/1920x1080/fff.jpg');
	background-size: contain;
	background-position-y: 50%;
	position: relative;
	z-index: 0;
	height: initial;

	.navbar {
		position: relative;
		z-index: 2;
		background-color: inherit;

		@include media-breakpoint-up(lg){
			background-color: transparent !important;
		}
	}

	.btn.btn-dark {
		opacity: .5;
	}

	.top-heading,
	.maler-menu {
		position: relative;
		z-index: 3;
	}

	.bg {
		background-image: linear-gradient(rgba(29, 40, 46, 0.8), rgba(29, 40, 46, 0.8)), linear-gradient(to bottom, rgba(4, 3, 8, 0.73), rgba(0, 0, 0, 0));
		z-index: 1;
	}


	.maler--hero {
		position: relative;
		max-width: 550px;
		margin: 0 auto;
		z-index: 2;
		padding-top: Em(30px);
		padding-bottom: Em(120px);

		.maler__desc {
			@include fontSize(16px);
		}


		@include media-breakpoint-up(md) {
			padding-top: Em(50px);
			padding-bottom: Em(150px);

		}

		@include media-breakpoint-up(xl) {
			padding-top: Em(110px);
			padding-bottom: Em(210px);
		}
	}



	h3.maler__title,
	.maler__desc {
		color: $white;
	}

	.maler-menu {
		margin-top: Rem(14px);
	}




@include media-breakpoint-up(lg) {
		background-size: cover;
	}
}

h3.maler__title{
	font-weight: bold;
	&.title--big {
		margin-bottom: 20px;
	}

	&.title--big.text-center {
		margin-bottom: Rem(30px);
			@include media-breakpoint-up(sm) {
				margin-bottom: Rem(60px);
		}
	}
}

.services {
	.row {
		padding: Em(40px) 0;

		@include media-breakpoint-up(lg) {
			padding: Em(60px) 0;
		}
	}

	hr {
		margin: 0;
		color: #DBE1E7;
	}

	.maler.maler-left {
		img {
			border-radius: 50%;
		}
	}
}

.portfolio {
	.text-center {
		margin-top: Rem(15px);
	}

	h3.title--big {
		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(75px);
		}
	}
}



.testimonial {
	h3.maler__title.title--big.text-center {
		margin-botttom: Rem(30px);
		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(75px) ;
		}
	}
}

.features,
.testimonial,
.counter {
	background-color: $section-bg;
}

.counter,
.stories {
	position: relative;
	background-image: url('../image/bg/cloud.jpg');
	background-blend-mode: multiply;
	background-size: 100%;
	background-repeat: repeat-x;
	background-position: bottom;
}



.footer {
	color: #848e99;
	background-color: 	$footer-bg;
	position: relative;
	padding: Em(60px) 0 Em(20px) 0;
	margin-top: Em(20px);

	.maler-footer {
		margin-bottom: Rem(20px);

		@include media-breakpoint-up(sm) {
			margin-bottom: Rem(30px);
		}
	}

	hr  {
		background-color: #fff;
		opacity: .1	;
		margin: 0;
	}

	a.links-scroll {
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translateX(-50%);
	}

	.notice {
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding-top: Rem(30px);
		@include fontSize(13px);
	}

	@include media-breakpoint-up(sm) {
		padding: Em(70px) 0 Em(30px) 0;
		margin-top: Em(30px);

	}
}

.features,
.counter {
	.maler {
		margin-bottom: Rem(30px);
	}

	.container {
		@include media-breakpoint-up(xl) {
			margin-bottom: Rem(-30px);
		}
	}
}

.features,
.counter,
.portfolio,
.testimonial,
.stories,
.customers {
	padding: Em(40px) 0;

	@include media-breakpoint-up(lg) {
		padding: Em(60px) 0;
	}
}

.form-custom {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid rgba($white,0.2);

	.form-group {
		margin-bottom: 0;

	}
	input {
		background-color: transparent;
		border-color: transparent;
	}

	.btn {
		width: 100%;
	}

	.form-control {
		color: $white;
		&:focus {
			background-color: transparent;
			border-color: transparent;
			box-shadow: initial;
		}
	}

	transition: .5s all;

	&:hover {
		border: 1px solid rgba($white,0.5);
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		transition: .5s all;

	}
}