/*!
 * Sun Framework
 * Copyright 2016 Joomlashine.
 * @file _modules.scss
 */



//
// Breadcrumbs
// --------------------------------------------------
/* .sunfw-breadcrumb {
  padding: 40px 0;
  .breadcrumb {
    background: transparent;
    margin: 0;
    padding: 0;
    > .active {
      color: #FFF;
    }
  }
} */

//
// Menu Styles
// --------------------------------------------------

ul.nav > li > a i.fa {
  padding-right: 5px;
}
.sunfw-direction-rtl ul.nav > li > a i.fa {
  padding-right: 0;
  padding-left: 5px;
}

//

// ---------------------Position Sticky-----------------------------\

div[class*=sunfw-pos-stick-] {
  position: fixed;
  z-index: 8888;
}

.sunfw-pos-stick-lefttop {
  @include rtl-left(0);
}

.sunfw-pos-stick-righttop {
  @include rtl-right(0);
}

.sunfw-pos-stick-leftmiddle {
  @include rtl-left(0);
  top: 50%;
  transform: translateY(-50%);

}

.sunfw-pos-stick-rightmiddle {
  @include rtl-right(0);
  top: 50%;
  transform: translateY(-50%);

}

.sunfw-pos-stick-leftbottom {
  @include rtl-left(0);
  bottom: 0
}

.sunfw-pos-stick-rightbottom {
  @include rtl-right(0);
  bottom: 0;
}
.cc-theme-block.cc-type-info.cc-top{
  z-index: 9999;
}